<main>
    <header>
      <div class="user-count">0</div>
      <h1>MyChat</h1>
    </header>

    <h2>hello <%= name %> </h2>
   
  
    <section class="chat">
      <% let chat = messages.reverse() %> 
      <% messages.forEach(message => { %>
          <p><strong><%= message.user.name %>: </strong><%= message.content %> </p>
      <% }) %> 
      <!-- <p><strong>Tommy</strong>: I did not hit her!</p>
      <p><strong>Mark</strong>: ...</p>
      <p><strong>Tommy</strong>: I did not! it's bullshit!</p>
      <p><strong>Tommy</strong>: oh! hi Mark!</p> -->
    </section>
  
    <form method="POST" name="chat" action="./chat/send">
      <input type="text" placeholder="Write a message" name="chat" id="chat"/>
      <button type="submit">Send</button>
    </form>
  </main>