<h1>delete</h1>

<div>
    <h2>" <%= content %> "</h2><br>
    <p>will be permanently deleted.</p>
</div>
<form action="/profile/delete/dl/<%=id%>" method="POST">
    <button type="submit">Confirm</button>
</form>