<h1>edit</h1>

<p><%= content %> </p>

<form method="POST" action=<%=`/profile/edit/new/${id}/?_method=PUT`%>>
    <label>Edit</label>
    <input type="text" name="editContent" value="<%= content %>">
    <input type="submit">
</form>