<h2>MyPage</h2>

 <h3>Welcome <%= name %> </h3>








 <form action="/profile/blog" method="post" name="blog">
    <input type="text" name="blog" placeholder="Seen anything cool lately?">
    <button type="submit">post</button>
 </form>

 <div id="blog">
    <% blog.forEach(msg => { %>
   
        <div><%- msg.content %></div>
        <button>edit</button>
        <button>delete</button>
    <% }) %> 
</div>
