.mypage {
  font-family: 'Poiret One', cursive;
}
.pics {
  background-color: rgb(167, 197, 242);
}
nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

/* ./public/style.css */
* {
  box-sizing: border-box;
  transition: all .3s ease;
}

html, body {
  background: #eee;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.chatBox {
  width: calc(100% - 20px);
  max-width: 500px;
  margin: 0 auto;
  font-family: Helvetica, Arial, Sans, sans-serif;
}

.user-count {
  margin: 0;
  padding: 10px 0;
  font-size: 32px;
  float: right;
}


.chat {
  content: '';
  width: 100%;
  height: 50%;
  background: white;
  padding: 5px 10px;
}

.chat p {
  margin: 0 0 5px 0;
}

.chatInputs {
  width: 100%;
  font: inherit;
  background: #fff;
  border: none;
  margin-top: 10px;
  padding: 5px 10px;
}

.button:hover {
  cursor: pointer;
  background: #ddd;
}

@media all and (min-width: 500px) {
  .chat {
    height: calc(100vh - 260px);
  }
  .chatInputs {
    width: calc(100% - 180px);
  }
  .button {
    float: right;
    width: 140px;
  }
}
.posts {
  margin: 0 auto;
  margin-bottom: 40px;
  padding-top: 20px;
  max-width: 500px;
  background-color: aliceblue;
  position: relative;
}

#blog {
display: inline;
}

#gblog {
  display: inline;
}

.delete {
  color: red;
  border-radius: 45%;
  float: right;
}
.edit {
  border-radius: 45%;
  float: right;
}
.reply {
  border-radius: 50%;
  background-color: aqua;
}
.commentButtons {
  display: inline;
}

#linksId {
  display: inline;
}
.linklist {
  display: inline;
}


.emoji {
  text-align: center;
  font-size: 24px;
  padding: 8px;
}

.emoji:hover {
  cursor: pointer;
}

.profileBox {
  position: fixed;
}
#banner {
margin: 0 auto;

}
.notFound {
  text-align: center;
}